<!DOCTYPE html>
  <html>
    <head>
      <%= stylesheet_link_tag 'application', media: 'all' %>
    </head>

    <body>
      <h1>Questions#answer</h1>
      <p><%= @question %></p>
      <p>you</p>

      <p><%= @answer %></p>
      <p>Your coach</p>
    </body>
    <%= link_to "ask", ask_path %>
  <html>



